.searchFacetCheckbox {
    & + label {
        &:before {
            content: " ";
            background-image: url('../../assets/icons/square.svg');
            background-repeat: no-repeat;
            background-size: contain;
            width: 25px;
            height: 25px;
        }
    }

    &:checked + label::before {
        background-image: url('../../assets/icons/check-square.svg');
    }
}